mixin catalog-item
	.catalog-item
		.catalog-item__pr
			.catalog-item__tags.tags-item.tags-item_align_left
				.tags-item__tag.tags-item__tag_theme_green.tags-item__tag_size_sm.tags-item__tag_catalog_price.tags-item__tag_corner_left-green
					| 340 000 
					span.line-through
						| P
				.tags-item__tag.tags-item__tag_theme_orange.tags-item__tag_icon
					span.i-tag-item-camera
				.tags-item__tag.tags-item__tag_theme_red.tags-item__tag_uppercase
					span.tags-item__icon
						span.i-action
					| Акция!
			img(src="images/catalog-item.jpg", alt="Дом из бруса", width="370", height="225")
		.catalog-item__info.catalog-item__info_type_rec
			.catalog-item__title.catalog-item__title_type_rec
				| Дом из бруса 5х7,5м «Норвегия»
			a.btn.btn_theme_green.btn_size_sm.catalog-item__btn.catalog-item__btn_type_rec(href="#")
				| Подробно о проекте

.catalog-rec
	.container
		.row
			.col-xs-12
				h2.text__h2.catalog-rec__title
					| Похожие проекты домов
		.row
			.catalog-rec__items
				div.catalog-rec__item
					+catalog-item()
				div.catalog-rec__item
					+catalog-item()
				div.catalog-rec__item
					+catalog-item()