footer.foo
	.container
		.row
			.col-xs-12.col-sm-6.col-md-3.col-lg-3
				img.foo__logo.img-responsive(src="images/logo.png", alt="Каркасоф: деревянные дома и бани", width="275", height="75")
				.foo__text
					| Наш адрес: г Москва. ул. Рождественка, д.3/6
				.foo__text
					| © 2016 Каркасоф.ру
				.foo__text
					| Информация на сайте не является публичной офертой.
				.foo__text
					a.foo__sitemap-link(href="#")
						| Карта сайта 
			.col-xs-12.col-sm-3.col-md-3.col-lg-2.col-lg-offset-1
				.foo__column-title
					| Проекты
				ul.foo__column-nav.nav-column
					li.nav-column__item
						a.nav-column__link(href="#")
							| Дома из бруса
					li.nav-column__item
						a.nav-column__link(href="#")
							| Каркасные дома
					li.nav-column__item
						a.nav-column__link(href="#")
							| Бани из бруса
					li.nav-column__item
						a.nav-column__link(href="#")
							| Переврзные бани
					li.nav-column__item
						a.nav-column__link(href="#")
							| Бани бочки
			.col-xs-12.col-sm-3.col-md-3.col-lg-2
				.foo__column-title
					| Услуги
				ul.foo__column-nav.nav-column
					li.nav-column__item
						a.nav-column__link(href="#")
							| Фундаменты
					li.nav-column__item
						a.nav-column__link(href="#")
							| Заборы
					li.nav-column__item
						a.nav-column__link(href="#")
							| Печи и отопление
					li.nav-column__item
						a.nav-column__link(href="#")
							| Технический надзор
			.col-xs-12.col-sm-12.col-md-3.col-lg-2.col-lg-offset-2
				.foo__last-column
					.foo__phone
						a.phone.contacts-header__phone(href="tel:89318548797")
							| 8 
							span.phone__code
								| 931
							|  854 87 97
					.foo__city
						| Поменять город: 
						a.foo__city-name(href="#")
							| Москва
					a.btn.btn_size_sm.btn_theme_green.btn_avaible.foo__call.fancy(href="#call")
								| Заказать звонок
					.foo__social
						a.foo-social__link(href="#")
							.i-social-vk
						a.foo-social__link(href="#")
							.i-social-ok
						a.foo-social__link(href="#")
							.i-social-yt
						a.foo-social__link(href="#")
							.i-social-fb

