header.header
	.container
		.row
			.col-xs-12.col-sm-4.col-md-4.col-lg-3
				img.header__logo.img-responsive(src="images/logo.png", alt="Каркасоф: деревянные дома и бани", width="275", height="75")
			.col-xs-12.col-sm-4.col-md-3.col-lg-offset-1
				.header__column
					.header__contacts.contacts-header
						a.phone.contacts-header__phone(href="tel:84959990099")
							| 8 
							span.phone__code
								| 495
							|  999 00 99
						.contacts-header__info
							| Ежедневно с 9:00 до 21:00
						.contacts-header__city
							| Ваш город: 
							a.contacts-header__your-city.contacts-header__change-your-city
								| Москва
							a.contacts-header__change-your-sity-icon.contacts-header__change-your-sity
								span.i-change-your-sity-icon
			.col-xs-12.col-sm-4.col-md-3.col-md-offset-2.col-lg-2.col-lg-offset-3
				.header__column
					div.header__communication
						a.btn.btn_size_sm.btn_theme_green.btn_avaible.header__call.fancy(href="#call")
							| Заказать звонок
						a.header__mailto(href="mailto:karkasof@yandex.ru")
							| karkasof@yandex.ru

