mixin last-work-item
	tr.last-work-item
		td.last-work-item__pr
			a(href="#")
				img(src="images/last-work.jpg", alt="Дом из бруса в Ступино", width="185", height="140")
				.last-work-item__tags.tags-item.tags-item_align_left
					.tags-item__tag.tags-item__tag_icon.tags-item__tag_theme_orange
							.i-tag-item-camera
		td.last-work-item__text
			.last-work-item__date
				b
					| Сдано:
				|  21 ноября 2016 г.
			.last-work-item__title
				a(href="#")
					| Дом из бруса в Ступино
			.last-work-item__desc
				| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности, экологическая чистота

.main-info
	.container
		.row
			.col-xs-12.col-md-6
				.clearfix
					h3.text__h3.main-info__title
						| СК «Каркасоф» строит с 2008
					p.text__p
						| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности, экологическая чистота материалов — то, что отличает деревянные дома и бани от любых других построек. Это, а также качество и долговечность, кстати говоря, недорогой недвижимости из бруса заставляет людей задуматься о её покупке. Дома и бани из бруса под ключ приобретают всё большую популярность. Наши проекты - это тёплые, уютные деревянные дома, которые становятся любимым местом отдыха дачников как летом, так и зимой, а бани из бруса — неотъемлемым атрибутом здорового и приятного образа жизни.
					.btn__wrap.btn__wrap_align_center
						a.btn.btn_size_sm.btn_theme_green.main-info__btn(href="#")
							| ПОДРОБНО О компании
				.clearfix.how-we-work
					h3.text__h3.how-we-work__title
						| Как мы работаем
					table
						tr.how-we-work-item
							td.how-we-work-item__icon
								span.i-how-we-work-1
							td.how-we-work-item__text
								.how-we-work-item__title
									| 1. Работаем только по договору
								.how-we-work-item__desc
									| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности,
						tr.how-we-work-item
							td.how-we-work-item__icon
								span.i-how-we-work-2
							td.how-we-work-item__text
								.how-we-work-item__title
									| 2. Офиса продаж в Москве, Сантк-Петербурге и В. Новгороде
								.how-we-work-item__desc
									| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности,
						tr.how-we-work-item
							td.how-we-work-item__icon
								span.i-how-we-work-3
							td.how-we-work-item__text
								.how-we-work-item__title
									| 3. Никаких дополнительных поборов
								.how-we-work-item__desc
									| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности,
						tr.how-we-work-item
							td.how-we-work-item__icon
								span.i-how-we-work-4
							td.how-we-work-item__text
								.how-we-work-item__title
									| 4. Бригады с большим опытом работы
								.how-we-work-item__desc
									| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности,
						tr.how-we-work-item
							td.how-we-work-item__icon
								span.i-how-we-work-5
							td.how-we-work-item__text
								.how-we-work-item__title
									| 5. Экологичный и качественный материал
								.how-we-work-item__desc
									| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности,
			.col-xs-12.col-md-6
				.clearfix.last-work
						h3.text__h3.main-info__title.last-work__title
							| Последние работы в Москве
						table
							+last-work-item
							+last-work-item
							+last-work-item
							+last-work-item
							+last-work-item
						.btn__wrap.btn__wrap_align_center
							a.btn.btn_size_sm.btn_theme_green.main-info__btn(href="#")
								| Больше отчетов о строительстве