.main-edge
	.container
		.row
			.col-sm-6.col-lg-3
				.main-edge__item.main-edge-item
					.main-edge-item__icon
						span.i-main-edge-item-1
					.main-edge-item__title
						| Полный цикл
					.main-edge-item__desc
						| Полный цикл строительства от фундамета до отделки
			.col-sm-6.col-lg-3
				.main-edge__item.main-edge-item.main-edge-item_last_sm
					.main-edge-item__icon
						span.i-main-edge-item-2
					.main-edge-item__title
						| Гос. регистрация
					.main-edge-item__desc
						| СК «Каркасов» имеет государственную регистрацию
			.col-sm-6.col-lg-3
				.main-edge__item.main-edge-item
					.main-edge-item__icon
						span.i-main-edge-item-3
					.main-edge-item__title
						| Свое производство
					.main-edge-item__desc
						| Брус, вагонка, доска и пр. пиломатериалы
			.col-sm-6.col-lg-3
				.main-edge__item.main-edge-item.main-edge-item_last
					.main-edge-item__icon
						span.i-main-edge-item-4
					.main-edge-item__title
						| Бесплатная доставка
					.main-edge-item__desc
						| Бесплатная доставка до Москвы и Санкт-Петербурга
