nav.nav-bottom
	.container
		.row
			.col-xs-12
				.nav-bottom__icon.nav-icon
					span
					span
					span
				ul.nav-bottom__list
					li.nav-bottom__item
						a.nav-bottom__link(href="#")
							| О компании
					li.nav-bottom__item
						a.nav-bottom__link(href="#")
							| Проекты
					li.nav-bottom__item
						a.nav-bottom__link(href="#")
							| Услуги
					li.nav-bottom__item
						a.nav-bottom__link(href="#")
							| Акции
					li.nav-bottom__item
						a.nav-bottom__link(href="#")
							| Галерея
					li.nav-bottom__item
						a.nav-bottom__link(href="#")
							| Контакты
