mixin table(number)
	.table.project-options__table.project-options-table
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Обвязка:
			.td.project-options-table__cell
				| Одинарная. Нестроганный брус хвойных пород естественной влажности 150х150мм.
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Лаги:
			.td.project-options-table__cell
				| Брус 40х150, с шагом не более 70см
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Фронтоны:
			.td.project-options-table__cell
				| Выполнены из доски 40х100мм, обшиты вагонкой хвойных пород, естественной влажности
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Обрешетка:
			.td.project-options-table__cell
				| Не сплошная из полуобрезной доски 20 мм, с шагом не более 30 см
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Кровля:
			.td.project-options-table__cell
				| Рубероид.
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Сборка углов:
			.td.project-options-table__cell
				| В пол дерева.
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Капитальные стены:
			.td.project-options-table__cell
				| Профилированный брус хвойных пород естественной влажности, размерами 100х150мм (100мм ширина х 150мм высота), возможно выполнение из бруса 150х150мм 150х200мм.
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Теплоизоляция:
			.td.project-options-table__cell
				| В качестве теплоизоляции между брусом укладывается межвенцовый утеплитель – джутовое льнополотно
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Перегородки:
			.td.project-options-table__cell
				| 1-й этаж: профилированный брус естественной влажности 100х150мм, (100мм ширина х 150мм высота) 2-й этаж: каркасные из доски 40х100, отделанные вагонкой хвойных пород, камерной сушки
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Балки межэтажного перекрытия:
			.td.project-options-table__cell
				| Брус 40х150, с шагом не более 90 см
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Высота этажей
			.td.project-options-table__cell
				| 1 этаж - 2.30 17 венцов. 2 этаж - 2.20
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Лестница:
			.td.project-options-table__cell
				| Лаз на мансарду.
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Мансарда:
			.td.project-options-table__cell
				| Каркасная, обшита вагонкой хвойных пород, камерной сушки
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Стропила:
			.td.project-options-table__cell
				| Выполнены из доски 40х100мм, с шагом не более 90 см
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Поднебесники:
			.td.project-options-table__cell
				| 27 см
		.tr.project-options-table__row
			.td.project-options-table__cell.project-options-table__cell_icon_camera
				| Гвозди для сруба и силовых конструкций:
			.td.project-options-table__cell
				| Обычные, не оцинкованные. Для внешней и внутренней отделки, оцинкованные и финишные
	a.btn.btn_theme_green.btn_size_md.project-options-table__btn(href="#")
		| Отправить заявку


.project
	.container
		.row
			.col-xs-12
				h2.text__h2.project__title
					| Дом из бруса 5х7,5м «Норвегия»
				.project__tabs
					.project__tab.project__tab_active
						| Фотографии
					.project__tab
						| Планировки
					.project__tab
						| Цены под ключ
					.project__tab
						| Технология
				.project__gallery.project-gallery
					.table.project-gallery__grid
						.tr.project-gallery__grid-container
							.td.project-gallery__grid-item.project-gallery__grid-item_type_photos
								.project-gallery__photos
									div
										img.img-responsive(src="images/project.jpg", alt="")
									div
										img.img-responsive(src="images/project.jpg", alt="")
									div
										img.img-responsive(src="images/project.jpg", alt="")

							.td.project-gallery__grid-item.project-gallery__grid-item_type_pr.hidden-xs
									.project-gallery__prs.project-gallery-prs
										.project-gallery-prs__pr
											img.img-responsive(src="images/project-pr.jpg", alt="")
										.project-gallery-prs__pr
											img.img-responsive(src="images/project-pr.jpg", alt="")
										.project-gallery-prs__pr
											img.img-responsive(src="images/project-pr.jpg", alt="")
						.tr.project-gallery__grid-container
							.td.project-gallery__grid-item
								.project-gallery-chars__grid.project-gallery-chars_gray
									.project-gallery-chars__grid-double
										.project-gallery-chars__grid-item
											.project-gallery-chars__char
												.project-gallery-chars__char-icon
													span.i-project-gallery-chars-key-1
												.project-gallery-chars__char-text
													.project-gallery-chars__char-key
														| Общая площадь:
													.project-gallery-chars__char-value
														| 225 м
														sup
															| 2
										.project-gallery-chars__grid-item
											.project-gallery-chars__char
												.project-gallery-chars__char-icon
													span.i-project-gallery-chars-key-2
												.project-gallery-chars__char-text
													.project-gallery-chars__char-key
														| Пятно застройки:
													.project-gallery-chars__char-value
														| 5,5х8,5 м
											
									.project-gallery-chars__grid-double
										.project-gallery-chars__grid-item
											.project-gallery-chars__char
												.project-gallery-chars__char-icon
													span.i-project-gallery-chars-key-3
												.project-gallery-chars__char-text
													.project-gallery-chars__char-key
														| Жилая площадь:
													.project-gallery-chars__char-value
														| 5х7 м
											
										.project-gallery-chars__grid-item
											.project-gallery-chars__char.pr1oject-gallery-chars__char_icon_no

												.project-gallery-chars__char-text
													.project-gallery-chars__char-key
														| Кол-во винтовых свай:
													.project-gallery-chars__char-value
														| 16 шт.
											
							.td.project-gallery__grid-item.project-gallery-chars_gray.hidden-xs
								.project-gallery__limitation
									.project-gallery__limitation-key
										| Срок строительства
									.project-gallery__limitation-value
										| 14 дней
						.tr.project-gallery__grid-container
							.td.project-gallery__grid-item
								
								.project-gallery-chars__grid.project-gallery-chars_gray_border
									.project-gallery-chars__grid-double
										.project-gallery-chars__grid-item
											.project-gallery-chars__char
												.project-gallery-chars__char-icon
													span.i-project-gallery-chars-key-4
												.project-gallery-chars__char-text
													.project-gallery-chars__char-key
														| Высота 1 этажа:
													.project-gallery-chars__char-value
														| 2,7 м
										.project-gallery-chars__grid-item
											.project-gallery-chars__char
												.project-gallery-chars__char-icon
													span.i-project-gallery-chars-key-4
												.project-gallery-chars__char-text
													.project-gallery-chars__char-key
														| Высота 2 этажа:
													.project-gallery-chars__char-value
														| 2,4 м
											
									.project-gallery-chars__grid-double
										.project-gallery-chars__grid-item
											.project-gallery-chars__char
												.project-gallery-chars__char-icon
													span.i-project-gallery-chars-key-5
												.project-gallery-chars__char-text
													.project-gallery-chars__char-key
														| Комнат:
													.project-gallery-chars__char-value
														| 5
											
										.project-gallery-chars__grid-item
											.project-gallery-chars__char
												.project-gallery-chars__char-icon
													span.i-project-gallery-chars-key-6

												.project-gallery-chars__char-text
													.project-gallery-chars__char-key
														| Сан. узел:
													.project-gallery-chars__char-value
														| Есть
							.td.project-gallery__grid-item.project-gallery-chars_gray.visible-xs
								.project-gallery__limitation
									.project-gallery__limitation-key
										| Срок строительства
									.project-gallery__limitation-value
										| 14 дней
							.td.project-gallery__grid-item.project-gallery__grid-item_id_6
								.project-gallery__fixed-price
									.project-gallery__fixed-price-title
										| Зафиксировать цену до 12.01.2017
									.project-gallery__fixed-price-subtitle
										| Ожидается сезонное повышений цен
									a.btn.btn_theme_green.btn_size_sm.project-gallery__fixed-price-btn.btn_avaible(href="#")
										| Ожидается сезонное повышений цен
				.project__options.project-options.clearifx
					h2.text__h2.project-options__title
						| Параметры дома
					.project-options__tabs.project-options-tabs
						div
							.project-options-tabs__tab.project-options-tabs__tab_active
								| Комплектации и цены
						div
							.project-options-tabs__tab
								| Описание проекта
						div
							.project-options-tabs__tab
								| Вопросы и комментарии
					.table.project-options__grid
						.tr.project-options__grid-row
							.td.project-options__grid-item
								.project-options__keys.project-options-keys
									.project-options-keys__item
										.project-options-keys__title
											| Брус 90х140 мм.
										.project-options-keys__price
											| 540 000 Р
									.project-options-keys__item
										.project-options-keys__title
											| Клееный брус
										.project-options-keys__price
											| 740 000 Р
									.project-options-keys__item
										.project-options-keys__title
											| Каркасный вариант
										.project-options-keys__price
											| 470 000 Р
									.project-options-keys__item
										.project-options-keys__title
											| Сухой брус
										.project-options-keys__price
											| 680 000 Р
									.project-options-keys__item
										.project-options-keys__title
											| Брус из кедра
										.project-options-keys__price
											| 920 000 Р
							.td.project-options__grid-item
								.project-options-tables
									div
										+table(1)
									div
										+table(2)
									div
										+table(3)
									div
										+table(4)
									div
										+table(5)
					.project-options-tags
						.project-options-tags__text
							| Проект относится к:
						a.project-options-tags__tag(href="#")
							| Дачные дома
						a.project-options-tags__tag(href="#")
							| Одноэтажные
						a.project-options-tags__tag(href="#")
							| Маленькие
						a.project-options-tags__tag(href="#")
							| Современный стиль
			.col-xs-12
				.project__description.project-description
					h2.text__h2.project-description__title
						| Описание проекта
					.project-description__text
						p.text__p
							| Современные деревянные дома и бани из бруса всё больше привлекают внимание дачников и хозяев загородных участков. Соответствие самым высоким требованиям безопасности, экологическая чистота материалов — то, что отличает деревянные дома и бани от любых других построек. Это, а также качество и долговечность, кстати говоря, недорогой недвижимости из бруса заставляет людей задуматься о её покупке. Дома и бани из бруса под ключ приобретают всё большую популярность. 
						p.text__p
							| Наши проекты - это тёплые, уютные деревянные дома, которые становятся любимым местом отдыха дачников как летом, так и зимой, а бани из бруса — неотъемлемым атрибутом здорового и приятного образа жизни. Это, а также качество и долговечность, кстати говоря, недорогой недвижимости из бруса заставляет людей задуматься о её покупке. Дома и бани из бруса под ключ приобретают всё большую популярность. Наши проекты - это тёплые, уютные деревянные дома, которые становятся любимым местом отдыха дачников как летом, так и зимой, а бани из бруса — неотъемлемым атрибутом здорового и приятного образа жизни.
			.col-xs-12
				.project__faq.project-faq
					h2.text__h2.project-faq__title
						| Вопросы-ответы
					.project-faq__items
						.project-faq-item
							.project-faq-item__quest
								.project-faq-item__quest-text
									| Что предпочтительнее – наружная отделка деревянного брусового дома сайдингом или кирпичом?
							.project-faq-item__answer.project-faq-item__answer_open
								.table.project-faq-item__answer-grid
									.tr.project-faq-item__answer-grid-row
										.td.project-faq-item__answer-grid-cell.project-faq-item__answer-grid-cell_type_icon
											.i-answer-icon
										.td.project-faq-item__answer-grid-cell.project-faq-item__answer-grid-cell_type_text
											b
												| Ответ:
											|  Здесь нужно исходить из нагрузок на фундамент и данных геологических изысканий. Сайдинг крепится по обрешетке, между которой находится утеплитель и гидроизоляция, т.е. нагрузка получается минимальной. Кирпичная облицовка стены должна на что-то опираться, т.о. под стену в пол-кирпича необходима площадь опоры – фундамент, который надо предусмотреть заранее. Сайдингом монтаж проводится быстрее и гораздо дешевле, чем облицовка дома кирпичом.
						.project-faq-item
							.project-faq-item__quest
								.project-faq-item__quest-text
									| Какая кровля лучше – металлочерепица, гибкая черепица или ондулин?
							.project-faq-item__answer
								.table.project-faq-item__answer-grid
									.tr.project-faq-item__answer-grid-row
										.td.project-faq-item__answer-grid-cell.project-faq-item__answer-grid-cell_type_icon
											.i-answer-icon
										.td.project-faq-item__answer-grid-cell.project-faq-item__answer-grid-cell_type_text
											b
												| Ответ:
											|  Здесь нужно исходить из нагрузок на фундамент и данных геологических изысканий. Сайдинг крепится по обрешетке, между которой находится утеплитель и гидроизоляция, т.е. нагрузка получается минимальной. Кирпичная облицовка стены должна на что-то опираться, т.о. под стену в пол-кирпича необходима площадь опоры – фундамент, который надо предусмотреть заранее. Сайдингом монтаж проводится быстрее и гораздо дешевле, чем облицовка дома кирпичом.
						.project-faq-item
							.project-faq-item__quest
								.project-faq-item__quest-text
									| Как уменьшить стоимость строительства? Из какого стенового материала экономичнее строить?
							.project-faq-item__answer
								.table.project-faq-item__answer-grid
									.tr.project-faq-item__answer-grid-row
										.td.project-faq-item__answer-grid-cell.project-faq-item__answer-grid-cell_type_icon
											.i-answer-icon
										.td.project-faq-item__answer-grid-cell.project-faq-item__answer-grid-cell_type_text
											b
												| Ответ:
											|  Здесь нужно исходить из нагрузок на фундамент и данных геологических изысканий. Сайдинг крепится по обрешетке, между которой находится утеплитель и гидроизоляция, т.е. нагрузка получается минимальной. Кирпичная облицовка стены должна на что-то опираться, т.о. под стену в пол-кирпича необходима площадь опоры – фундамент, который надо предусмотреть заранее. Сайдингом монтаж проводится быстрее и гораздо дешевле, чем облицовка дома кирпичом.
						.project-faq-item
							.project-faq-item__quest
								.project-faq-item__quest-text
									| Если при строительстве загородный дом или коттедж был утеплен снаружи плитами Пеноплекс, есть ли вероятность, что он станет местом обитания грызунов?
							.project-faq-item__answer
								.table.project-faq-item__answer-grid
									.tr.project-faq-item__answer-grid-row
										.td.project-faq-item__answer-grid-cell.project-faq-item__answer-grid-cell_type_icon
											.i-answer-icon
										.td.project-faq-item__answer-grid-cell.project-faq-item__answer-grid-cell_type_text
											b
												| Ответ:
											|  Здесь нужно исходить из нагрузок на фундамент и данных геологических изысканий. Сайдинг крепится по обрешетке, между которой находится утеплитель и гидроизоляция, т.е. нагрузка получается минимальной. Кирпичная облицовка стены должна на что-то опираться, т.о. под стену в пол-кирпича необходима площадь опоры – фундамент, который надо предусмотреть заранее. Сайдингом монтаж проводится быстрее и гораздо дешевле, чем облицовка дома кирпичом.
						.project-faq-item
							.project-faq-item__quest
								.project-faq-item__quest-text
									| Какие отделочные материалы используют для внешней и внутренней отделки домов из клееного бруса?
							.project-faq-item__answer
								.table.project-faq-item__answer-grid
									.tr.project-faq-item__answer-grid-row
										.td.project-faq-item__answer-grid-cell.project-faq-item__answer-grid-cell_type_icon
											.i-answer-icon
										.td.project-faq-item__answer-grid-cell.project-faq-item__answer-grid-cell_type_text
											b
												| Ответ:
											|  Здесь нужно исходить из нагрузок на фундамент и данных геологических изысканий. Сайдинг крепится по обрешетке, между которой находится утеплитель и гидроизоляция, т.е. нагрузка получается минимальной. Кирпичная облицовка стены должна на что-то опираться, т.о. под стену в пол-кирпича необходима площадь опоры – фундамент, который надо предусмотреть заранее. Сайдингом монтаж проводится быстрее и гораздо дешевле, чем облицовка дома кирпичом.
			.col-xs-12
				.project__tech.project-tech
					h2.text__h2.project-tech__title
						| Технологии
					.project-tech__map
						.tech-map-item.tech-map-item_id_1
							.tech-map-item__icon
							.tech-map-item__text.tech-map-item__text_top_right
								.tech-map-item__title
									| Конструкция кровли
								.tech-map-item__desc
									| При отделке внешней поверхности деревянной стены можно использовать любые сертифицированные средства защиты древесины. Большой выбор современных лакокрасочных материалов всевозможных оттенков позволяет придать вашему дому вид по вашему желанию или совету нашего дизайнера, а также надолго защитить Ваш дом от неблагоприятных воздействий внешней среды. Как правило, они еще выполняют и функции огнебиозащиты.
						.tech-map-item.tech-map-item_id_2
							.tech-map-item__icon
							.tech-map-item__text.tech-map-item__text_top_right
								.tech-map-item__title
									| Конструкция кровли
								.tech-map-item__desc
									| При отделке внешней поверхности деревянной стены можно использовать любые сертифицированные средства защиты древесины. Большой выбор современных лакокрасочных материалов всевозможных оттенков позволяет придать вашему дому вид по вашему желанию или совету нашего дизайнера, а также надолго защитить Ваш дом от неблагоприятных воздействий внешней среды. Как правило, они еще выполняют и функции огнебиозащиты.
						.tech-map-item.tech-map-item_id_3
							.tech-map-item__icon
							.tech-map-item__text.tech-map-item__text_top_left
								.tech-map-item__title
									| Конструкция кровли
								.tech-map-item__desc
									| При отделке внешней поверхности деревянной стены можно использовать любые сертифицированные средства защиты древесины. Большой выбор современных лакокрасочных материалов всевозможных оттенков позволяет придать вашему дому вид по вашему желанию или совету нашего дизайнера, а также надолго защитить Ваш дом от неблагоприятных воздействий внешней среды. Как правило, они еще выполняют и функции огнебиозащиты.
						.tech-map-item.tech-map-item_id_4
							.tech-map-item__icon
							.tech-map-item__text.tech-map-item__text_top_right
								.tech-map-item__title
									| Конструкция кровли
								.tech-map-item__desc
									| При отделке внешней поверхности деревянной стены можно использовать любые сертифицированные средства защиты древесины. Большой выбор современных лакокрасочных материалов всевозможных оттенков позволяет придать вашему дому вид по вашему желанию или совету нашего дизайнера, а также надолго защитить Ваш дом от неблагоприятных воздействий внешней среды. Как правило, они еще выполняют и функции огнебиозащиты.
						.tech-map-item.tech-map-item_id_5
							.tech-map-item__icon
							.tech-map-item__text.tech-map-item__text_top_left
								.tech-map-item__title
									| Конструкция кровли
								.tech-map-item__desc
									| При отделке внешней поверхности деревянной стены можно использовать любые сертифицированные средства защиты древесины. Большой выбор современных лакокрасочных материалов всевозможных оттенков позволяет придать вашему дому вид по вашему желанию или совету нашего дизайнера, а также надолго защитить Ваш дом от неблагоприятных воздействий внешней среды. Как правило, они еще выполняют и функции огнебиозащиты.
